[Desktop Entry]
Comment=Jolly-Global Look And Feel
Name=Jolly-Global
X-KDE-PluginInfo-Author=l4k1
X-KDE-PluginInfo-Category=Plasma Look And Feel
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-Name=Jolly-Global
X-KDE-PluginInfo-Version=1.7
X-KDE-PluginInfo-Website=
X-KDE-ServiceTypes=Plasma/LookAndFeel
X-KPackage-Dependencies=kns://colorschemes.knsrc/api.kde-look.org/1654363,kns://colorschemes.knsrc/api.kde-look.org/1654361,kns://plasma-themes.knsrc/api.kde-look.org/1654379,kns://icons.knsrc/api.kde-look.org/1654368,kns://aurorae.knsrc/api.kde-look.org/1654358,kns://aurorae.knsrc/api.kde-look.org/1654353,kns://wallpaper.knsrc/api.kde-look.org/1428521,kns://wallpaper.knsrc/api.kde-look.org/1654331,kns://sddmtheme.knsrc/api.kde-look.org/1654350
